<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to my First Flask</h1>
        <form method="POST">
            <label for="name">First, enter your name:</label>
            <input type="text" id="name" name="name" required>
            <label for="age">and then, enter your age:</label>
            <input type="number" id="age" name="age" required>
            <button type="submit">Submit</button>
        </form>
        {% if name and age %}
        <p>Hello! So, your name is {{ name }}, and you are {{ age }} years old.</p>
        {% endif %}
    </div>
</body>
</html>